---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "mixins";
@import "base";


header {
    height: 35vh;
    min-height: fit-content !important;
    margin-bottom: 3em;
}
.header-content-inner {
    padding: 1em;
}

.container.row {
    margin: auto;
}
a {
    color: $theme-secondary;
}
.docPreview h1 {
    margin-top: 0;
}
.docPreview {
    padding: 1em;
    border: 0.25px solid $theme-dark;
    border-radius: 1em;
    margin-top: 1em;
    padding-bottom: 3.25em;
}
span.startNowButton {
    border-radius: 0.75em;
    padding: 1em;
    border: 0.25px solid $theme-dark;
    float: right;
    display: block;
    text-transform: uppercase;
    color: $theme-dark;
}
.docsList.container.row {
    min-height: 80vh;
}
.header-content-inner {
    padding: 1em;
    overflow: hidden;
}

/* Mobile */
@media screen and (max-width: 600px) {

    header {
        height: 65vh;
    }

    .header-content h1 {
        font-size: 1.95em !important;
    }
    .header-content p {
        font-size: 1.25em !important;
    }
    .docPreview {
        padding-bottom: 4em;
    }


}



@media screen and (max-width: 330px) {
	
}