---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "mixins";
@import "base";

/* extensions.css */
.sectionHeader h1{
    font-size: 2.25em !important; 
    text-align: center;
    }

.subtitleText p{
    font-size: 1.25em;
    text-align: center;
    line-height: 1.75;
}

.extensionPreview img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.container.row {
    padding-bottom: 20vh;
    margin-left: auto;
    margin-right: auto;
}
.extensionPreview h1 {
    font-size: 2.75em !important;
    color: $theme-dark;
}

.extensionPreview span {
    color:  $theme-dark;
    font-size: 1.25em;
}
.extensionPreview span {
    color: #0E186E;
    font-size: 1.25em;
    min-height: 6em;
    display: block;
}
input#searchInput {
    padding: 0.25em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}
span.loading {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
}
.brandPreview {
    display: inline-block;
}
a.browseButtons {
    padding: 0.5em 4em 0.5em 4em;
    background: $theme-dark;
    color: white;
    text-transform: capitalize;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 2rem;
    display: block;
    width: fit-content;
    text-align: center;
}

.extensionTypes li {
    display: inline-block;
}

.extensionTypes .col-sm-4 {
    padding: 4em;
    text-align: center;
}

.extensionTypes h1 {
    font-size: 3em !important;
    text-transform: capitalize;
}
header.extensionHeader {
    max-height: 40vh !important;
    overflow: hidden;
    min-height: 70vh !important;
}


/* Search Results */
div#searchResults {
    text-align: center;
}


#searchResults a {
    max-width: calc(25% - 2.5em);
    display: inline-block;
    overflow: hidden;
    min-height: fit-content;
    margin: 1em;
    border: 1px solid $theme-dark;
    border-radius: 5px;
    height: 15rem;
    position: relative;
    background: white;
}
#searchResults img {
    max-width: 100%;
    padding: 1em;
    display: block;
}   
#searchResults h1 {
    width: 100%;
    font-size: 1.5rem !important;
    color:  $theme-dark;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    padding-left: 0.5em;
    padding-right: 0.5em;
}    
.integrationTypes ul {
    padding-left: 0;
    padding-top: 2rem;
    margin-bottom: 0;
}
.brandPreview img {
    max-width: 14rem;
    padding-right: 1em;
}
.container.row.brandImgs {
    padding: 0;
    padding-bottom: 1em;
}
.container.row.brandImgs {
    padding: 0;
    padding-bottom: 1em;
    max-width: 100% !important;
    overflow: hidden;
    text-align: center;
    width: unset;
}
.brandImgs img {
    max-width: 100%;
    max-height: 10rem !important;
}
img.brandImg {
    float: right;
}
img.storeCatImg {
    float: left;
    height: -webkit-fill-available;
}

/* Tablet */
@media screen and (max-width: 800px ) {
    #searchResults a {
        min-width: calc(100% - 2em) !important;
        min-height: fit-content !important;
        height: unset;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }
    

} 

/* Mobile */
@media screen and (max-width: 600px) {
    .container.row.brandImgs {
        display: none;
    }
    #products .col-sm-6 {
        padding-bottom: 6rem;
    }
    #products .row.container {
            padding-bottom: 0;
    }
    .market360 .col-sm-4 {
            margin-bottom: 6rem !important;
    }
    #searchResults a {
            max-width: calc(50% - 1rem) !important;
            min-width: unset !important;
    }
}


@media screen and (max-width: 330px) {
	
}