---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "mixins";
@import "base";

/* integrations.css */
.integrationPreview img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.container.row {
    padding-bottom: 20vh;
    margin-left: auto;
    margin-right: auto;
}
.integrationPreview h1 {
    font-size: 2.75em !important;
    color: $theme-dark;
}

.integrationPreview span {
    color:  $theme-dark;
    font-size: 1.25em;
}
.integrationPreview span {
    color: #0E186E;
    font-size: 1.25em;
    min-height: 6em;
    display: block;
}
input#searchInput {
    padding: 0.25em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}
span.loading {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
}
.brandPreview {
    display: inline-block;
}
a.browseButtons {
    padding: 0.5em 8em 0.5em 8em;
    background: $theme-dark;
    color: white;
    text-transform: capitalize;
    letter-spacing: .05em;
    border-radius: 0.6em;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-top: 2rem;
    display: block;
    width: fit-content;
    text-align: center;
    margin-top: 4em;
    box-shadow: 0 3px 6px 0 #00000029;
}

.integrationTypes li {
    display: inline-block;
    padding-top: 1.5rem;
}

.integrationTypes .col-sm-4 {
    padding: 4em;
    text-align: center;
}

.integrationTypes h1 {
    font-size: 3em !important;
    text-transform: capitalize;
}
div#integrationsBrowser {
    padding-top: 10vh;
}
#integrationsBrowser h1 {
    font-size: 4.5rem !important;
}
#integrationsBrowser span {
    font-size: 1.65rem;
}
.integrationPreview h1 {
    font-size: 3.5rem !important;
    margin-top: 0;
}

.integrationPreview {
    padding-bottom: 2rem;
    border-bottom: 0.1px solid #0E186E69;
    padding-top: 2rem;
}
header.integrationHeader {
    max-height: 40vh !important;
    overflow: hidden;
    min-height: 70vh !important;
}


/* Search Results */
div#searchResults {
    text-align: center;
}

#searchResults a {
    max-width: calc(25% - 2.5em);
    display: inline-block;
    overflow: hidden;
    min-height: fit-content;
    height: fit-content;
    position: relative;
    background: none !important;
    border: none;
}
#searchResults img {
    max-width: 100%;
    padding: .25em;
    display: block;
    width: 75%;
    height: auto;
}
#searchResults h1 {
    display: none !important;
}

.integrationTypes ul {
    padding-left: 0;
    padding-top: 2rem;
    margin-bottom: 0;
}
.brandPreview img {
    max-width: 14rem;
    padding-right: 1em;
}
.container.row.brandImgs {
    padding: 0;
    padding-bottom: 1em;
}
.container.row.brandImgs {
    padding: 0;
    padding-bottom: 1em;
    max-width: 100% !important;
    overflow: hidden;
    text-align: center;
    width: unset;
}
.brandImgs img {
    max-width: 100%;
    max-height: 10rem !important;
}
img.brandImg {
    float: right;
}
img.storeCatImg {
    float: left;
    height: -webkit-fill-available;
}
div#integrationsBrowser {
    padding-bottom: 0;
    background: linear-gradient(to right, #97d1ff, #c8e7ff);
    padding-top: 0;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
}
span.loading {
    padding-bottom: 20rem;
}
header {
    min-height: 60vh !important;
}

/* Tablet */
@media screen and (max-width: 800px ) {
    #searchResults a {
        min-width: calc(100% - 2em) !important;
        min-height: fit-content !important;
        height: unset;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }
    header {
        min-height: fit-content !important;
    }

} 

/* Mobile */
@media screen and (max-width: 600px) {
    .container.row.brandImgs {
        display: none;
    }
    #products .col-sm-6 {
        padding-bottom: 6rem;
    }
    #products .row.container {
            padding-bottom: 0;
    }
    #searchResults a {
            max-width: calc(50% - 1rem) !important;
            min-width: unset !important;
    }

}


@media screen and (max-width: 330px) {
	
}