---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }


// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "mixins";
@import "base";

body {
        // font-family: "nunito";
        font-family: 'Libre Franklin', sans-serif;
        color: $theme-dark;
}
h1{
        font-weight: 400;
}
h2 {
        // text-transform: uppercase;
        font-weight: 400;
        font-size: 2.5rem;
}

header {
        background-image: url(/img/smart-yard.jpeg);
        background-size: cover;
        min-width: 100vw;
        box-shadow: 0 6px 12px #00000029;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
        z-index: 15 !important;
        position: relative;
        margin-bottom: 3rem;
}
.header-content-inner {
        background: #caecd2eb;
        background: #C8E7FFE6;
        border-radius: 5px;
        padding: 4em;
        width: fit-content;
        box-shadow: 0px 4px 16px 0 #00000029;
        overflow: hidden;
}
.navbar-brand > img {
        display: inline-block;
        max-height: calc(100% + 0.85em);
        margin-left: 1em;
        margin-top: -0.25em;
        margin-right: 0.25em;
        opacity: 0.85;
}
a.btn {
        background: $theme-dark;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.6em;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: capitalize !important;
        color: white !important;        
        padding-left: 5em;
        padding-right: 5em;
        box-shadow: 0 3px 6px 0 #00000029;
}
a.btn:hover {
        background: $theme-dark;
        text-decoration: underline;
        color: white !important;
}
.text-center p, .text-center h2 {
        color: $theme-dark;
        font-weight: 400;
}
.header-content p {
        color: $theme-dark !important;
        margin-bottom: 1em !important;
        margin-top: 1em;
        font-weight: 500;
}
.header h1 {
        // font-family: nunito;
        font-family: 'Libre Franklin', sans-serif;
        color: $theme-dark;
        // text-transform: capitalize !important;
        font-size: 2.75em !important;
        line-height: 1.25em;
}
.header-content h1.sub {
        font-size: 2.25em !important;
}
.header-content-inner p {
        font-weight: 500 !important;
}
.dropShadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0a36152e;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
}
a.btn.btn-default.btn-xl {
        box-shadow: 0 3px 6px #00000029;
        padding-left: 5em;
        padding-right: 5em;
        text-transform: unset !important;
}

/* Call to action */
.bg-primary {
        background-color: #C8E7FF;
        box-shadow: 0 3px 12px #00000029;
        // border-bottom-left-radius: 24px;
        // border-bottom-right-radius: 24px;
        margin-top: -2em;
        z-index: 10 !important;
        position: relative;
}
    
    
.bg-primary a.btn:hover {
        background: $theme-dark;
        text-decoration: underline;
}

/* Services */
.service-box img {
        max-height: 7em;
}
.service-box h3 {
        line-height: 1.25em;
        font-weight: 550;
        font-size: 1.5em;
}
.service-box {
        padding-right: 0.5em;
        padding-left: 0.5em;
}


/* Carousel header */
.container.onboarding {
        background: $theme-primary;
        border-radius: 1em;
        color: $theme-dark;
        padding: 2em;
        padding-top: 4em;
        padding-bottom: 4em;
        position: relative;
}
.onboarding h2 {
        width: fit-content;
        margin: auto;
        font-weight: 400;
}
.onboarding h3 {
        margin-top: 0em;
        font-size: 1.85em;
        font-weight: 600;
}

.onboarding span.headerMessage {
        width: 100% !important;
        text-align: center !important;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
}
.onboarding span {
        font-size: 1.15em;
}

.onboarding ul {
        padding: 0;
        width: fit-content;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
}

.onboarding li {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
}
li.featureNav.selected {
    border-bottom: 1px $theme-dark solid;
}
section#components {
        background: url(/img/shipyard.jpg);
        background-size: contain;
}
.componentNav {
        color: $theme-dark;
        height: 100px;
        position: absolute;
        left: 2em;
        z-index: 10000;
        width: 100px;
        top: calc(50% - 50px)
}
.componentNav.right {
        left: unset;
        right: 2em;
        text-align: right;
}
.componentNav i {
        font-size: 5em;
}
/* Carousel */
.packageDetails{
        display: none;
        padding-top: 2em;
        padding-bottom: 1em;
        min-height: 18em;
}

.packageDetails.shown {
        display: block;
}
.onboarding img {
        float: right;
}
.onboarding .col-sm-9 {
        padding-right: 10%;
}
span.pricing {
        display: block;
        padding-top: 1em;
        font-weight: 700;
}

section {
        width: 100vw !important;
        min-width: 100vw !important;
}

/* Testimonials */
.bg-primary.testimonial {
        background: #0E186E;
        padding-top: 5em;
        padding-bottom: 3em;
        margin-top: 0em;
        z-index: 5 !important;
        position: relative;
}
img.headshot {
        border-radius: 50%;
        background: white;
        max-height: 12em;
        float: right;
}
.testimonial h2.section-heading {
        margin-top: 0.75em;
        font-size: 1.25em;
        font-weight: 400;
        color: #CBFFEF;
        letter-spacing: 0.03em;
}
.testimonial p {
        margin-top: 10%;;
        color: white;
        margin-bottom: 0;
        letter-spacing: 0.05em
}
.testimonial span {
        color: #CBFFEF;
        letter-spacing: 0.05em;
}

/* seperator */
separator {
        display: block;
        width: 100%;
        border-bottom: 2px solid #97D1FF;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


/* Process */
.process-box {
        text-align: left;
        padding: 1em;
        min-height: 30vh;
}
.process-box img {
        width: 8.5em;
}    
.pbx.highlight {
        background: #CBFFEF;
        border-radius: 12px;
}

/* Products */
section#products {
        background: linear-gradient(to right, #97d1ff, #c8e7ff);
        margin-bottom: 2em;
        box-shadow: 0 6px 12px #00000029;
    }
#products h2 {
        font-size: 2.25rem;
        font-weight: 400;
    }
#products .row.container {
        margin: auto;
        padding-right: 6rem;
        padding-left: 6rem;
        padding-bottom: 0;
}

#products a {
        color: #0E186E;
        font-weight: 700;
        display: block;
        padding: 0.5em 1em;
        border: 2px solid #0E186E;
        border-radius: 5px;
        text-align: center;
        max-width: fit-content;
        float: left;
        bottom: 0;
        position: absolute;
        font-size: 1.5rem;
        min-width: calc(100% - 2em);
        margin: auto;
}

#products .col-sm-6 {
        min-height: 30vh;
        padding-bottom: 4rem;
        margin-bottom: 10rem;
}
h1.sectionHeader {
        margin-bottom: 1em;
        text-align: center;
        margin-left: -0.5em;
        font-size: 3.5rem !important;
        font-weight: 400;
}

#contact img.wow.bounceIn.animated {
        width: 7em;
        padding: 1em;
}

section#success {
        padding-top: 1rem;
}
img.headshot {
        margin-top: 6rem;
}

a.integrationsBrowseButton {
        background: #0E186E;
        color: white !important;
}
span.sectionHeader {
        width: 100% !important;
        text-align: center !important;
        display: block;
        margin-top: -3rem;
        font-size: 1.75rem;
        // margin-bottom: 4rem;
}    
section#process {
        padding-top: 2rem;
    }
    section#products {
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    
    

/* Phone Number */
li#phoneNumber {
        padding: 1rem;
        display: block;
        right: 0;
        border: 1px solid #0E186E;
        border-radius: 5px;
        background: #0E186E;
        margin-top: 0.65rem;
        float: right;
        margin-right: 0.5rem;
        margin-left: 1.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
}
.phoneNumber a {
        color: white !important;
        font-weight: 500;
        padding: 0 !important;
}
.phoneNumber i.fa.fa-phone {
        margin-right: 0.5rem;
        font-size: 2.25rem;
        vertical-align: top;
}

/* Market 360 */
section.marketThreeSixty {
        background: linear-gradient(to right, #97d1ff, #c8e7ff);
        margin-top: 0.5rem;
        box-shadow: 0 6px 12px #00000029;
}
.marketThreeSixty h1 {
        font-size: 2.75rem !important;
        font-weight: 600;
        color: #0E186E;
}
.marketThreeSixty span {
        color: #0E186E;
        font-size: 1.5rem;
}
a.browseButtons {
        width: fit-content;
        margin: auto;
}
.marketThreeSixty .row.container.extensionTypes {
        padding-bottom: 0;
}
.row.container.market360 {
        padding-bottom: 0;
}
i.wow.bounceIn.fa.fa-phone-square.animated {
        padding: 2.25rem !important;
}
    
.marketThreeSixty img {
    margin: auto;
    display: block;
    width: 40%;
}
span.weCanBuiltIt {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
}    
.outer img {
        max-width: 100%;
    }

/* New Header */
.header-content {
        margin-top: 5rem;
        min-height: 40vh;
    }

.col-sm-6.inner {
        text-align: left;
        padding: 2rem;
        max-width: 100vw;
    }
    header {
        min-height: 50vh;
        display: block;
        background: linear-gradient(to right, #97d1ff, #c8e7ff) !important;
        
    }
    header {
        min-height: 60vh !important;
        padding-top: 8rem;
    }
    .navbar-right a.page-scroll {
        color: #17346e !important;
    }
    a.navbar-brand.page-scroll {
        color: #17346e !important;
    }

    h2.homepage-secondary {
        text-align: center;
    }

/* Desktop */
@media screen and (max-width: 1000px) {

}

/* Tablet */
@media screen and (max-width: 800px ) {
        .navbar-header {
                background: none !important;
        }
        
        a.integrationsBrowseButton {
                background: #17346e;
                color: white !important;
        }
        nav#mainNav {
                background: none;
                border: none;
        }
        ul.nav.navbar-nav.navbar-right {
                background: #0000007d;
        }
        .navbar-brand img {
                display: none;
        }
        button.navbar-toggle.collapsed {
                border: none;
        }
        span.icon-bar {
                color: white;
                background: white;
                background-color: white !important;
                height: 3px;
        }
	.process-box {
                padding-right: 1em;
        }
        .navbar-header {
                background: $theme-dark;
        }
        a.navbar-brand.page-scroll {
                color: white !important;
        }
        header {
                height: calc( 100vh - 5em);
                display: block;
                padding-top: 4rem;
        }
        .header-content-inner {
                width: 80vw;
                margin: auto;
                margin-top: 3.5em;
                padding: 1.5em;
                border-radius: 5px;
                background: #C8E7FFE6 !important;
        }
        
        .header h1 {
                font-size: 2.25em !important;
        }
        strong {
                color: #0E186E;
                font-weight: 900;
                font-size: 1.25em;
        }
        .header-content-inner p {
                font-size: 1.25em !important;
        }
        
        section#components {
                background: none;
        }
        .onboarding ul {
                display: none;
        }
        .packageDetails {
                display: block;
                border-top: 0.5px solid $theme-secondary;
                padding-bottom: 2em !important;
        }
        .onboarding .col-sm-3 {
                text-align: center;
        }
        .onboarding img {
                float: unset;
                max-width: 50%;
                padding-bottom: 2em;
        }
        .componentNav {
                display: none;
        }
        footer ul {
                padding-left: 2em;
                text-align: center;
        }
        footer li {
                padding: 1em;
                width: calc(50% - 2em);
                text-align: center;
                display: inline-block;
        }
        h1.sectionHeader {
                margin-left: unset;
        }
        #products a {
                font-size: 1.75rem;
        }
        li#phoneNumber {
                width: calc(100% - 4rem);
                margin: 1rem;
                text-align: center;
                margin-left: 0rem !important;
                
        }
        .phoneNumber a {
                color: white !important;
                font-size: 1.65rem !important;
        }
        .navbar-collapse a.page-scroll {
                text-align: center;
                font-size: 1.65rem !important;
                color: white !important;
        }
        // div#bs-example-navbar-collapse-1 {
        //         padding: 0;
        //         width: 100vw !important;
        //         left: 0;
        //         display: block !important;
        //         position: fixed;
        //         right: 0;
        //     }
        ul.nav.navbar-nav.navbar-right {
                margin-top: 0 !important;
        } 

    span.icon-bar {
        color: #17346e !important;
        background: #17346e !important;
    }
    a.navbar-brand.page-scroll {
        color: #17346e !important;
    }
    header {
        min-height: fit-content !important;
    }
} 


/* Mobile */
@media screen and (max-width: 600px) {
       
        #products .col-sm-6 {
                padding-bottom: 6rem;
        }
        #products .row.container {
                padding-bottom: 0;
        }
        .market360 .col-sm-4 {
                margin-bottom: 6rem !important;
        }
        #searchResults a {
                max-width: calc(50% - 1rem) !important;
                min-width: unset !important;
            }
}


@media screen and (max-width: 330px) {
	
}
