---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

body {
        font-family: "nunito";
}

header {
        background-image: url(/img/warehouse.jpg);
        background-size: cover;
        min-width: 100vw;
}
.navbar-brand > img {
        display: inline-block;
        max-height: calc(100% + 0.85em);
        margin-left: 1em;
        margin-top: -0.25em;
        margin-right: 0.25em;
        opacity: 0.85;
}
a.navbar-brand.page-scroll {
        text-transform: capitalize !important;
}
.header-content-inner {
        background: #ffffff70;
        border-radius: 1em;
        padding: 1em;
}
.header-content p {
        color: blue !important;
}
.header h1 {
        font-family: nunito;
        color: blue;
        text-transform: capitalize !important;
        font-size: 2.25em !important;
}

/* Carousel header */
.container.onboarding {
        background: #add8e67d;
        border-radius: 1em;
        padding: 2em;
}
.onboarding h2 {
        width: fit-content;
        margin: auto;
}

.onboarding span.headerMessage {
        width: 100% !important;
        text-align: center !important;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
}

.onboarding ul {
        padding: 0;
        width: fit-content;
        margin: auto;
}

.onboarding li {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
}
li.featureNav.selected {
    border-bottom: 1px blue solid;
}

/* Carousel */
.packageDetails{
        display: none;
        padding-top: 2em;
        padding-bottom: 1em;
}

.packageDetails.shown {
        display: block;
}
.onboarding img {
        float: right;
}
.onboarding .col-sm-9 {
        padding-right: 10%;
}
span.pricing {
        display: block;
        padding-top: 1em;
        font-weight: 700;
}


/* Desktop */
@media screen and (max-width: 1000px) {

}

/* Tablet */
@media screen and (max-width: 800px ) {
	
        .navbar-header {
                background: #3b7dfa;
        }
        header {
                height: calc( 100vh - 5em);
                display: block;
        }
        strong {
                font-size: 1.3em;
        }
        .header-content-inner {
                margin-top: 6vh;
        }
        .header-content-inner h1 {
                font-size: 8em !important;
        }
} 

/* Mobile */
@media screen and (max-width: 600px) {

}


@media screen and (max-width: 330px) {
	
}