---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }


// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "mixins";
@import "base";

body {
        font-family: "nunito";
        color: $theme-dark;
}
h2 {
        // text-transform: uppercase;
        font-weight: 500;
}

header {
        background-image: url(/img/smart-yard.jpeg);
        background-size: cover;
        min-width: 100vw;
        box-shadow: 0 6px 12px #00000029;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        z-index: 15 !important;
        position: relative;
}
.header-content-inner {
        background: #caecd2e3;
        border-radius: 1em;
        padding: 4em;
        width: fit-content;
        box-shadow: 0px 4px 16px 0 #00000029;
        overflow: hidden;
}
.navbar-brand > img {
        display: inline-block;
        max-height: calc(100% + 0.85em);
        margin-left: 1em;
        margin-top: -0.25em;
        margin-right: 0.25em;
        opacity: 0.85;
}
a.btn {
        background: $theme-dark;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.75em;
        font-weight: 700;
        text-transform: capitalize !important;
        color: white !important;        
        padding-left: 4em;
        padding-right: 4em;
        box-shadow: 0 3px 6px 0 #00000029;
}
a.btn:hover {
        background: $theme-dark;
        text-decoration: underline;
        color: white !important;
}
.text-center p, .text-center h2 {
        color: $theme-dark;
}
.header-content p {
        color: $theme-dark !important;
        margin-bottom: 1em !important;
        margin-top: 1em;
        font-weight: 500;
}
.header h1 {
        font-family: nunito;
        color: $theme-dark;
        // text-transform: capitalize !important;
        font-size: 2.75em !important;
        line-height: 1.25em;
}
.header-content h1.sub {
        font-size: 2.25em !important;
}
.header-content-inner p {
        font-weight: 500 !important;
}
.dropShadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0a36152e;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
}
a.btn.btn-default.btn-xl {
        box-shadow: 0 3px 6px #00000029;
        padding-left: 5em;
        padding-right: 5em;
        text-transform: unset !important;
}

/* Call to action */
.bg-primary {
        background-color: #C3E6EF;
        box-shadow: 0 3px 12px #00000029;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-top: -2em;
        z-index: 10 !important;
        position: relative;
}
    
    
.bg-primary a.btn:hover {
        background: $theme-dark;
        text-decoration: underline;
}

/* Services */
.service-box img {
        max-height: 7em;
}
.service-box h3 {
        line-height: 1.25em;
        font-weight: 550;
        font-size: 1.5em;
}
.service-box {
        padding-right: 0.5em;
        padding-left: 0.5em;
}


/* Carousel header */
.container.onboarding {
        background: $theme-primary;
        border-radius: 1em;
        color: $theme-dark;
        padding: 2em;
        padding-top: 4em;
        padding-bottom: 4em;
        position: relative;
}
.onboarding h2 {
        width: fit-content;
        margin: auto;
}
.onboarding h3 {
        margin-top: 0em;
        font-size: 1.85em;
        font-weight: 600;
}

.onboarding span.headerMessage {
        width: 100% !important;
        text-align: center !important;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
}
.onboarding span {
        font-size: 1.15em;
}

.onboarding ul {
        padding: 0;
        width: fit-content;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
}

.onboarding li {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
}
li.featureNav.selected {
    border-bottom: 1px $theme-dark solid;
}
section#components {
        background: url(/img/shipyard.jpg);
        background-size: contain;
}
.componentNav {
        color: $theme-dark;
        height: 100px;
        position: absolute;
        left: 2em;
        z-index: 10000;
        width: 100px;
        top: calc(50% - 50px)
}
.componentNav.right {
        left: unset;
        right: 2em;
        text-align: right;
}
.componentNav i {
        font-size: 5em;
}
/* Carousel */
.packageDetails{
        display: none;
        padding-top: 2em;
        padding-bottom: 1em;
        min-height: 18em;
}

.packageDetails.shown {
        display: block;
}
.onboarding img {
        float: right;
}
.onboarding .col-sm-9 {
        padding-right: 10%;
}
span.pricing {
        display: block;
        padding-top: 1em;
        font-weight: 700;
}

section {
        width: 100vw !important;
        min-width: 100vw !important;
}

/* Testimonials */
.bg-primary.testimonial {
        background: #0f4c5b;
        padding-top: 5em;
        padding-bottom: 3em;
        margin-top: -2em;
        z-index: 5 !important;
        position: relative;
}
img.headshot {
        border-radius: 50%;
        background: white;
        max-height: 12em;
}
.testimonial h2.section-heading {
        margin-top: 0.75em;
        font-size: 1.25em;
        color: white;
}
.testimonial p {
        margin-top: 0.5em;
        color: white;
        margin-bottom: 0;
}
.testimonial span {
        color: white;
}


/* Process */
.process-box {
        text-align: left;
        padding: 1em;
        padding-right: 8em;
        min-height: 30vh;
}
.process-box img {
        width: 6em;
}    
.pbx.highlight {
        background: bisque;
}

/* Desktop */
@media screen and (max-width: 1000px) {

}

/* Tablet */
@media screen and (max-width: 800px ) {
	.process-box {
                padding-right: 1em;
        }
        .navbar-header {
                background: $theme-dark;
        }
        a.navbar-brand.page-scroll {
                color: white !important;
        }
        header {
                height: calc( 100vh - 5em);
                display: block;
        }
        .header-content-inner {
                width: 80vw;
                margin: auto;
                margin-top: 3.5em;
                padding: 1.5em;
        }
        .header h1 {
                font-size: 2.75em !important;
        }
        strong {
                color: #0f4c5b;
                font-weight: 900;
                font-size: 1.25em;
        }
        .header-content-inner p {
                font-size: 1.75em !important;
        }
        section#components {
                background: none;
        }
        .onboarding ul {
                display: none;
        }
        .packageDetails {
                display: block;
                border-top: 0.5px solid $theme-secondary;
                padding-bottom: 2em !important;
        }
        .onboarding .col-sm-3 {
                text-align: center;
        }
        .onboarding img {
                float: unset;
                max-width: 50%;
                padding-bottom: 2em;
        }
        .componentNav {
                display: none;
        }
        footer ul {
                padding-left: 2em;
        }
        footer li {
                padding: 1em;
                width: calc(50% - 2em);
                text-align: center;
                display: inline-block;
        }

} 

/* Mobile */
@media screen and (max-width: 600px) {

}


@media screen and (max-width: 330px) {
	
}
