---
title: Make your web store smart!
layout: front
permalink: /extensions/
---

{% include header.html 
    title="Get the Tools You Need"
    image="https://images.pexels.com/photos/2138126/pexels-photo-2138126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    text="From market analysis to report generation, we've got you covered. Automate, and relax."
    cta="Start Building"
    ctaLink="#components"
%}
{% include testimonial.html %}

{% include componentCarousel.html %}

{% include contact.html %}
{% include footer.html %}
{% include scripts.html %}
