---
title: Make your web store smart!
layout: front
permalink: /integrations/
---

<link rel="stylesheet" href="/css/integrations.css" type="text/css">


{% include header.html 
    title="Connect Any System"
    image="https://upload.wikimedia.org/wikipedia/commons/d/d6/MeanMonthlyP.gif"
    text="Integrations can be a hassle, but we can make them easier. Automate your catalogue within a month."
    cta="Check Compatibility"
    ctaLink="#about"
%}
<div class="row container integrationTypes">
    <div class="col-sm-4">
        <img src="">
    </div>
    <div class="col-sm-6" id="ecommerce">
        <h1>E-Commerce</h1>
        <span>Your web store may be the core of your E-Commerce offering, but it’s only part of your operation. Use StoreCat to easily import new items from suppliers, and instantly add them to your store. Keep all your images and product data secure in your own private cloud, and only transfer the ones that you want to sell.</span>
        <ul>
            <li>
                <a href="/integrations/shopify/">
                    <img src="/img/integrations/icons/shopify.png">
                </a>
            </li>
            <li>
                <a href="/integrations/shopify/">
                    <img src="/img/integrations/icons/shopify.png">
                </a>
            </li>
            <li>
                <a href="/integrations/shopify/">
                    <img src="/img/integrations/icons/shopify.png">
                </a>
            </li>
            <li>
                <a href="/integrations/shopify/">
                    <img src="/img/integrations/icons/shopify.png">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row container">
    <div class="col-sm-4">
        <img src="">
    </div>
    <div class="col-sm-6">
        <h1>Operations & ERP</h1>
        <span>Connect your web store to your inventory system through StoreCat, and even extend the functionality to allow you to see upstream supply availability for dropshipped items, and streamline purchasing and fulfillment.<br>
        How many employees does it take to manage a web store? Easy. None. Your employees should be talking to your suppliers and finding new sources of unique products. Let them focus on helping you expand your business, and leave the data transfer to the machines.</span>
    </div>
</div>
<div class="row container">
    <div class="col-sm-4">
        <img src="">
    </div>
    <div class="col-sm-6">
        <h1>Suppliers and Feeds</h1>
        <span>Coneect to your suppliers directly from StoreCat. Get the latest new product lines and pricing automatically, and instantly update them on your web store.</span>
    </div>
</div>


{% include allIntegrations.html %}

{% include componentCarousel.html %}

{% include contact.html %}
{% include footer.html %}
{% include scripts.html %}
