---
title: Make your web store smart!
layout: front
permalink: /integrations/
---

<link rel="stylesheet" href="/css/integrations.css" type="text/css">


{% include header.html 
    title="Being Connected is Being Ahead"
    image="/img/icons/integration-world-connect.svg"
    text="Our job is to make it easy to set up your infrastructure. StoreCat can help you establish your brand and connect with all of your systems."
    cta="Check Compatibility"
    ctaLink="#integrationsBrowser"
%}
<div class="row container integrationTypes">
    <h1 class=sectionHeader>Get Connected with Integrations</h1> <br>
    <div class="col-sm-3 center-align-mobile">
        <img src="/img/icons/online-shop.svg">
    </div>
    <div class="col-sm-9" id="ecommerce">
        <h2 class=sectionHeaderSubtitle>When your web store isn't up to date, you’re losing money.</h2>
        <p>StoreCat integrates with your e-commerce platform (like Shopify) and updates your site automatically, so you can focus on helping customers and growing your business.
            <br><br>
            <b>Keep customers happy and your wallet full.</b>
        </p>
        <ul>
        {% for integration in site.integrations %}
            {% if integration.tags contains "webstore" %}
                <li class="brandPreview">
                    <a href="{{ integration.permalink }}">
                        <img src="/img/{{ integration.img }}">
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <a class="browseButtons left-align center-align-mobile" href="#integrationsBrowser">See E-Commerce Solutions</a>
    </div>
</div>

{% include factoid.html 
    text="Your employees have more important things to do than manual data entry."
    image="/img/icons/lightbulb-white-fill.svg"
%}
<style>
    section#factoid {
        margin-top: -4em;
        margin-bottom: 5em;
    }
 </style>

<div class="row container integrationTypes">
    <div class="col-sm-3 center-align-mobile">
        <img src="/img/icons/wizard.svg">
    </div>
    <div class="col-sm-9">
        <h2 class=sectionHeaderSubtitle>Modernize without Reinventing</h2>
        <p>
            StoreCat bridges your sales team and supply chain, and gives you the room you need to store all of your information in one place.
            Keep your product catalogue organized and up-to-date. With automatic updates, your team can always <b>sell at the best price.</b>
            <br><br>
            Connect StoreCat to your current Enterprise Resource Planning (ERP) tool, like FinancialForce, and StoreCat will <b>sync all product information</b> across your platforms.
        </p>            
        <ul>
            {% for integration in site.integrations %}
            {% if integration.tags contains "erp" %}
                    <li class="brandPreview">
                        <a href="{{ integration.permalink }}">
                            <img src="/img/{{ integration.img }}">
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a class="browseButtonsSecondary left-align center-align-mobile" href="#integrationsBrowser">See ERP Solutions</a>
    </div>
</div>
<div class="row container integrationTypes">
    <div class="col-sm-3 center-align-mobile">
        <img src="/img/icons/truck.svg">
    </div>
    <div class="col-sm-9">
        <h2 class=sectionHeaderSubtitle>Say goodbye to endless price sheets</h2>
        <p>StoreCat automates your process by connecting to your suppliers and <b>automatically pulling new item information whenever it's available,</b> including pricing, new items, and product details.
            <br><br>
            If there’s something else you need, StoreCat will be sure to grab that too.
        </p>            

        <a class="browseButtonsSecondary left-align center-align-mobile" href="#contact">Connect With Suppliers</a>
    </div>
</div>


{% include allIntegrations.html %}

{% include powerUpsInsert.html %}
<br><br><br><br>
{% include factoid.html 
    text="How much would you save by eliminating writeoff orders?"
    image="/img/icons/question-mark-white.svg"
    oneLine="oneline"
%}

{% include contact.html %}
{% include footer.html %}
{% include scripts.html %}


