---
title: Our offering
layout: front
permalink: /products-old/
---

{% include header.html 
    title="What do You Need to Succeed?"
    image="/img/icons/spaceship-illustration.svg"
    text="StoreCat and our team of specialists can help you become an E-Commerce mastermind. <b>We make technology easy.</b>"
    cta="Make it Easy"
    ctaLink="#products"
%}

<link rel="stylesheet" href="/css/integrations.css" type="text/css">


<section id="products">
    <div class="row container">
        <div class="col-sm-12">
            <h1 class="sectionHeader">Let the computers do the heavy lifting</h1>
            <!-- <span class="sectionHeader">Use our Simple Tools to Build <b>Exactly</b> the System You Need.</span> -->
        </div>
        <div class="col-sm-6">
            <h2>Get Connected</h2>
            <span>The StoreCat solution brings together all of your operational and sales analytics under one roof. Once you connect your suppliers, <b>StoreCat keeps everything else up to date.</b> </span>
            <a class="integrationsBrowseButton" href="/products/integrations/">Browse Integrations</a>
        </div>
        <div class="col-sm-6">
            <h2>Expand and Grow</h2>
            <span>Extensions make it easy to track competitor pricing or analyze your workflow. Start running your business the easy way, and let the computers do the heavy lifting. Our entire system is built on an Open API container, so if we can't do it, <b>our support team can assist you with writing custom code.</b></span>
            <a href="/products/extensions/">Browse Extensions</a>
        </div>
    </div>

</section>

{% include testimonial.html %}

{% include marketThreeSixty.html 
    ctaText="More about Extensions"
    ctaLink="/extensions/"    
%}
<br>
{% include allIntegrations.html %}

{% include contact.html %}

{% include footer.html %}

{% include scripts.html %}
