---
title: Connect your Enterprise
layout: front
permalink: /supplier-integrations/
stylesheet: supplier-integrations.css
---

{% include header.html 
    title="Get the Tools You Need"
    image="https://images.pexels.com/photos/2138126/pexels-photo-2138126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    text="From market analysis to report generation, we've got you covered. Automate, and relax."
    cta="Start Building"
    ctaLink="#contact"
%}
<div class="row container extensionTypes">
    <div class="col-sm-4">
        <img src="/img/icons/boxes.png">
    </div>
    <div class="col-sm-8">
        <h1>Always Stay Up to Date</h1>
        <span>By syncing new supplier items automatically, it's possible to keep your web store up to date instantly with all changes</span>            

        <a class="browseButtons" href="#contact">Try Easy Onboarding</a>
    </div>
</div>

<div class="row container extensionTypes">
    <div class="col-sm-4">
        <img src="/img/icons/magnifying.svg">
    </div>
    <div class="col-sm-8">
        <h1>Stay on top of your Market</h1>
        <span>With Market 360, you can price check your products against competitors, and even configure automatic price matching to ensure you're never undersold.</span>            

        <a class="browseButtons" href="#contact">Get Market 360</a>
    </div>
</div>

<div class="row container extensionTypes">
    <div class="col-sm-4">
        <img src="/img/icons/truck.svg">
    </div>
    <div class="col-sm-8">
        <h1>Where do your products come from?</h1>
        <span>It's not easy to ensure proper sourcing, but we can help. We make it simple to keep track of your suppliers, and verify environmentally and socially sustainable certifications.</span>            

        <a class="browseButtons" href="#contact">Supplier Transparency Tools</a>
    </div>
</div>

{% include testimonial.html %}

<!-- {% include componentCarousel.html %} -->

{% include contact.html %}
{% include footer.html %}
{% include scripts.html %}
