

<div id="integrationsBrowser" class="allIntegrations container row">
    <div class="col-sm-12">

        <h2>Search Compatible Systems</h2>
        <span>From E-Commerce to Supply Chain, we've got you covered. Use StoreCat to bridge your systems.
            <br>
            Use the search below to check if your system is supported.</span>
        <input id="searchInput" type="text" placeholder="Search here for your solutions"  onkeyup="refreshSearchResults('searchResults', 'searchInput')">
        
    </div>
    <div id="searchResults" class="row-sm-12">
        {% for integration in site.integrations %}
            {% include integrationPreview.html
                title=integration.title
                img=integration.img
                text=integration.previewText    
                link=integration.permalink
            %}
        {% endfor %}
    </div>
    <span class="weCanBuiltIt">If you can't see find your system, contact us and we can build a new integration, just for you!</span>
</div>



<script type="text/javascript" src="/js/search.js" defer></script>