

<div id="integrationsBrowser" class="allIntegrations container row">
    <div class="col-sm-12">

        <h1>Search Compatible Systems</h1>
        <span>From E-Commerce to Supply Chain, we've got you covered. Use StoreCat to bridge your systems. Use the search below to check if your system is supported.</span>
        <input id="searchInput" type="text" placeholder="Search for an E-Commerce solution like 'Shopify' or type an ERP like 'FinancialForce'"  onkeyup="refreshSearchResults('searchResults', 'searchInput')">
        
    </div>
    <div id="searchResults" class="row-sm-12">
        {% for integration in site.integrations %}
            {% include integrationPreview.html
                title=integration.title
                img=integration.img
                text=integration.previewText    
                link=integration.permalink
            %}
        {% endfor %}
    </div>
</div>



<script type="text/javascript" src="/js/search.js" defer></script>