<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">All your product data, always up to date.</h2>
                <!-- <hr class="light"> -->
                <p class="text-faded">StoreCat allows you to seamlessly pull new product information from suppliers, review changes, and automate workflows. Put your back office on autopilot!</p>
                <a href="#contact" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>
