<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">All your product data, always up to date.</h2>
                <!-- <hr class="light"> -->
                <p class="text-faded">StoreCat allows you to seamlessly pull supplier pricing, sync with your ERP, and promote products on your website. You’ll never worry about selling at the right price so you can focus on growth.</p>
                <a href="#contact" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>
