  <aside class="bg-dark" id="careers">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>We're Hiring!</h2>
              <span>If you think you've got what it takes to make the internet run smoother, please reach out today :) </span>
              <a onclick="applyNowButton()" class="btn btn-default btn-xl wow tada">Apply Now</a>
          </div>
      </div>
  </aside>

  <script>
      function applyNowButton( ) {
          alert ( "To apply, check the page source." )
      }

  </script>