<section id="components">
    <div class="container onboarding">
        <div class="row">
            <h2>Efficient Tools</h2>
            <span>Add features as you need them. Pay for what you need, skip what you don't.</span>
        </div>
        <div class="row">
            <ul>
                <li onclick="navToFeature('smart-store')">Smart Store</li>
                <li onclick="navToFeature('market-intel')">Market Intel</li>
                <li onclick="navToFeature('unlimited-inventory')">Unlimited Inventory</li>
                <li onclick="navToFeature('supplier-integrations')">Supplier Integrations</li>
                <li onclick="navToFeature('erp-integrations')">ERP Integrations</li>
            </ul>
        </div>
        <div id="smart-store" class="row packageDetails shown">
            <div class="col-sm-4">
                <img src="/img/icons/online-shop.png">
            </div>
            <div class="col-sm-8">
                <h3>If your web store isn't up to date, you may be selling at a loss.</h3>
                <span>The average e-commerce supplier has 2-5 full time employees dedicated to updating their website. We'll set you up to do that automatically, so you can focus on helping customers and growing your business.</span>
                <span class="pricing">Starting at $200 / month</span>
            </div>
        </div>
        <div id="market-intel" class="row packageDetails">
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.png">
            </div>
            <div class="col-sm-8">
                <h3>Keep tabs on the competition. Automatically.</h3>
                <span>For a small monthly fee, we can track your competitors' pricing and product information. You'll be able to easily compare your pricing and even configure automatic price matching for entire categories of products.</span>
                <span class="pricing">Starting at $300 / month</span>
            </div>
        </div>        
        <div id="unlimited-inventory" class="row packageDetails">
            <div class="col-sm-4">
                <img src="/img/icons/boxes.png">
            </div>
            <div class="col-sm-8">
                <h3>Manage your catalogue in less than 5 minutes a week.</h3>
                <span>Get unlimited inventory management. The Basic Plan includes your first 1,000 products, but if you're going big, we'll help you get there. We offer flexible pricing as you go, or a fixed fee for truly unlimited inventory.</span>
                <span class="pricing">Starting at $1000 / month</span>
            </div>
        </div>
        <div id="supplier-integrations" class="row packageDetails">
            <div class="col-sm-4">
                <img src="/img/icons/cart.png">
            </div>           
            <div class="col-sm-8">
                <h3>Say goodbye to endless price sheets.</h3>
                <span>Want to automate, but don't have an in-house technical team?<br>Never fear! Our engineering team is here to help.<br>For a small fee, we can configure datafeed integrations and automatically pull new parts data whenever it's available.</span>
                <span class="pricing">Starting at $250 / month</span>
            </div>            
        </div> 
        <div id="erp-integrations" class="row packageDetails">
            <div class="col-sm-4">
                <img src="/img/icons/truck.png">
            </div>              
            <div class="col-sm-8">
                <h3>Connect your suppliers to your customers in real time.</h3>
                <span>Automatically import weight and dimensions from your suppliers. If you use an Enterprise Resource Planning (ERP) tool for Pick and Ship or inventory management, we can automatically update pricing across your system, and sync newly available items for dropshipping!</span>
                <span class="pricing">Starting at $500 / month</span>
            </div>            
        </div>                
    </div>

</section>