<section id="careers">
    <div class="container text-center">
        <div class="row custom">
            <h1>The Custom Experience</h1>
            <span>We've got everything you need for a seamless e-commerce experience.</span>
            <span>Get the whole package, including a web store. We can take even the most complicated businesses online in no time.</span>
            <hr>
            <span>Our team of engineers can help you design a custom solution for your particular needs, and we can get it online within a month.</span>
            <button>Let's Chat</button>
        </div>
    </div>
</section>