<section id="factoid" class="gradient-green">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 col-sm-offset-2">
                <p>{{ include.text }}</p>
            </div>
            <div class="col-sm-2">
                <a class="btn {{ include.oneLine }}" href="/e-book/Taking-Advantage-of-ECommerce-Tools-in-Uncertain-Times.pdf" download> {{ include.ctaText }}</a>
            </div>
            </div>
        </div>
    </div>
</section>
