<footer>
    <!-- <span>Built by Haligonians, for Nova Scotians</span> -->
    <!-- <span>All Rights Reserved</span> -->
    <ul>
        <li>
            <a  target="_blank" href="/docs/">Help</a>
        </li>
        <li>
            <a target="_blank" href="https://docs.getstorecat.com/">API Docs</a>
        </li>
        <li>
            <a href="mailto:support@getstorecat.com">Support</a>
        </li>
        <li>
            <a href="mailto:sales@getstorecat.com">Sales</a>
        </li>
    </ul>
</footer>