<section id="getConnected" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stop duplicating efforts.</h2>
                <p>Manage all your product information in one place. Connect all your systems and your suppliers, and automate your updates.</p> <br>
                <a class="btn btn-mobile" href="/integrations/">Check Compatibility</a>
            </div>
        </div>
    </div>
</section>
