<section id="getConnected" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="sectionHeader">Stop duplicating efforts.</h1>
                <p>Once you're up and running, you can also manage all your product information in one place. Connect all your systems and your suppliers, and automate your updates.</p> <br>
                <a class="btn btn-mobile" href="/product-management/">Product Management Tools</a>
            </div>
        </div>
    </div>
</section>
