<header>
    <div class="dropShadow">

    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <span class="header"><h1>Stay Competitive <strong>Online</strong></h1>
                <!-- <h1 class="sub">with StoreCat</h1> -->
            </span>
            <p>As you move to e-commerce sales, we've got the tools you need to grow your business, and shrink your headaches.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Started</a>
        </div>
    </div>
</header>
