{% if include.image == '' %}
    <header>
{% else %}
    <header style="background:url('{{ include.image }}');background-size:cover;background-position: center;background-position-y: -14px;">
{% endif %}
    <div class="dropShadow">

    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <span class="header"><h1>{{ include.title }}</h1>
                <!-- <h1 class="sub">with StoreCat</h1> -->
            </span>
            <p>{{ include.text }}</p>
            <a href="{{ include.ctaLink }}" class="btn btn-primary btn-xl page-scroll">{{ include.cta }}</a>
        </div>
    </div>
</header>
