<header>
    <div class="header-content">
        <div class="header-content-inner">
            <span class="header"><h1><strong>Your</strong> Market,</h1><br><h1>at <strong>Your</strong> Fingertips</h1></span>
            <hr>
            <p>Our simple system keeps your products automatically up to date with suppliers, and even lets you track competitor price adjustments.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
