
<section class="marketThreeSixty">
    <div class="row container market360">
        <h1 class="sectionHeader">Your business is unique, your systems should be too.</h1>
        <span class="sectionHeaderSubtitle">StoreCat is modular— get everything you need without overpaying.</span>
        <div class="row container extensionTypes">
            <div class="col-sm-4">
                <img src="/img/icons/boxes-network-color.svg">
                <h2>Easily Compare Suppliers</h2>
                <span>Market360 makes it simple for your purchasing team find the best price.</span>            
            </div>
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.svg">
                <h2>Stay on Top</h2>
                <span>Understand your market and track availability so your sales team is never caught off guard.</span>            
            </div>
            <div class="col-sm-4">
                <img src="/img/icons/pricetag-color.svg">
                <h2>Get SmartPrice™</h2>
                <span>Automatically update your price when a competitor changes their website.</span>            
            </div>
        </div>

        <a href="{{ include.ctaLink }}" class="browseButtons page-scroll" >{{ include.ctaText }}</a>
    </div>
</section>