
<section class="marketThreeSixty">
    <div class="row container market360">
        <h1 class="sectionHeader">Market 360</h1>

        <div class="row container extensionTypes">
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.png">
                <h1>Easily Compare Suppliers</h1>
                <span>Once your're already syncing supplier items, we can help you easily compare between them, and find substitutions.</span>            
            </div>
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.png">
                <h1>Stay on top of your Market</h1>
                <span>With Market 360, you can price check your products against competitors, and even configure automatic price matching to ensure you're never undersold.</span>            
            </div>
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.png">
                <h1>Automatic Price Match</h1>
                <span>Another feature of Market 360 allows you to automatically update your product information (including the price) when a competitor changes the price on their website.</span>            

            </div>
        </div>

        <a class="browseButtons" href="#{{ include.ctaLink }}">{{ include.ctaText }}</a>
    </div>
</section>