
<section class="marketThreeSixty">
    <div class="row container market360">
        <h1 class="sectionHeader">Market 360</h1>

        <div class="row container extensionTypes">
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.svg">
                <h2>Easily Compare Suppliers</h2>
                <span>Once your'e syncing supplier items, Market360 will help you easily compare them, and find substitutions.</span>            
            </div>
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.svg">
                <h2>Stay on Top of Your Market</h2>
                <span>You can price check your products against competitors, and configure automatic price matching to ensure you're never undersold.</span>            
            </div>
            <div class="col-sm-4">
                <img src="/img/icons/magnifying.svg">
                <h2>Automatic Price Match</h2>
                <span>Automatically update your product information (including price) when a competitor changes the price on their website.</span>            

            </div>
        </div>

        <a class="browseButtons" href="#{{ include.ctaLink }}">{{ include.ctaText }}</a>
    </div>
</section>