<section id="easy-onboarding">
    <div class="container onboarding">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="section-heading">Easy Onboarding.</h3>
                <span>Even if your business does not currently have an online presence, we can get you up and running within days. <br><br><b>We guarantee that full set up, including a web store if necessary, will not cost more than $5000.</b></span>
                <hr>
            </div>
            <div class="col-lg-8">
                <img src="/img/lightning-cloudy-stormy-field-wallpaper-preview.jpg">
            </div>
        </div>
    </div>
</section>
