<section id="easy-onboarding">
    <div class="container onboarding">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="section-heading">Easy Onboarding.</h3>
                <span>Even if your business does not currently have an online presence, we can get you up and running within days. <br><br><b>Basic package, including a web store, <br>from $5000</b></span>
                <hr>
            </div>
            <div class="col-lg-8">
                <img src="/img/welcome.png">
            </div>
        </div>
    </div>
</section>
