<section id="powerUpsInsert" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Make it easy— let the computers do the heavy lifting.</h2>
                <p>PowerUps make it easy to track competitor pricing and analyze your workflow with a customized solution, just for you.</p> <br>
                <a class="btn" href="/power-ups/">Check Out PowerUps</a>
            </div>
        </div>
    </div>
</section>
