<section id="process" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="sectionHeader">Try the Easy Way</h1>
                <p class="text-faded">StoreCat allows you to seamlessly pull new product information from suppliers, review changes, and automate workflows. Put your back office on autopilot!</p>
            </div>
            <div class="pbx highlight col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/dashboard.svg">
                    <h3>1. Import Your Products</h3>
                    <p class="text-muted">Keep all your products and images in one place. Our unique system allows you to manage your entire market in one place.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/wizard.svg">
                    <h3>2. Connect to Suppliers</h3>
                    <p class="text-muted">Automatically import your inventory and pricing, and immediately add them to your web store.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/magnifying.svg">
                    <h3>3. Build your Catalog</h3>
                    <p class="text-muted">Whether you want to manage a web store, or build a supply chain, we've got the tools you need.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/success.svg">
                    <h3>4. Stay on Top</h3>
                    <p class="text-muted">Once you're in the game, we can help you track the competition, and generate reports instantly.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    setInterval(moveHighlightNextOnTimer, 3000)
    var pause = false;
    var pauseSlip = false;
    var lastScrollTop = 0;

    function moveHighlightNextOnTimer ( ) {
        if (pause == true) {
            console.log('unpaused')
            pause = false 
            return
        } else {
            moveHighlightNext()
        }
    }

    function moveHighlightNext ( ) {

        var boxes = document.getElementsByClassName('pbx');

        for ( var i = 0; i < boxes.length; i++ ) {
            var box = boxes[i]
            // console.log('i is', i, 'box is', box)

            if ( box.className.includes('highlight') ) { 
                // console.log('highlight at ', i)
                box.className =  box.className.replace('highlight', '')

                if ( boxes[i + 1] ) {
                    // console.log('boxes i + 1', boxes[i + 1])
                    return boxes[i + 1].className += ' highlight'
                } else {
                    if ( pause != true ) {
                        return boxes[0].className += ' highlight'
                    }
                }
            }
        }
    }
    function moveHighlightBack ( ) {
        
        var boxes = document.getElementsByClassName('pbx');

        for ( var i = 0; i < boxes.length; i++ ) {
            var box = boxes[ i ]
            // console.log('i is', i, 'box is', box)

            if ( box.className.includes('highlight') ) { 
                // console.log('highlight at ', i)
                box.className =  box.className.replace('highlight', '')

                if ( boxes[ i - 1 ] ) {
                    // console.log('boxes i + 1', boxes[i + 1])
                    return boxes[ i - 1 ].className += ' highlight'
                } else {
                    if ( pause != true ) {
                        return boxes[ boxes.length - 1 ].className += ' highlight'
                    }
                }
            }
        }
    }

    function pauseScroll ( ) {
        if ( pause != true ) {
            console.log('pause set')
            pause = true
            setTimeout( function ( ) {
                pause = false
                console.log('pause unset')
            }, 3000)
        }

    }

    function scrollNavProcess (){ // or window.addEventListener("scroll"....
        pauseScroll()
        console.log('scroll triggered')

        var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"
        if (st > lastScrollTop){
            scrollHighlightsDown()
        } else {
            scrollHighlightsUp()
        }
        lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
    }

    function pauseScrollControl ( ) {
        if ( pauseSlip != true ) {
            return setTimeout ( function ( ) {
                pauseSlip = true;
            }, 500)
        } else {
            return;
        } 
    }

    function scrollHighlightsDown ( ) {
        if ( pauseSlip != true ) {
            return moveHighlightNext()
        } else {
            return
        }
    }

    function scrollHighlightsUp ( ) {
        if ( pauseSlip != true ) {
            return moveHighlightBack()
        } else {
            return
        }
    }

    window.addEventListener('scroll', scrollNavProcess)



</script>
