<section id="process">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Organized.</h2>
                <hr class="primary">
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="sectionHeader">Not your Grandma's product management system.</h1>
                <span class="sectionHeaderSubtitle">StoreCat makes it easy to manage your supply operation with just a few clicks a day.</span>
            </div>
            <div class="pbx highlight col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/rocket-ship-multi.svg">
                    <h3>Pick your <br>PowerUps</h3>
                    <p class="text-muted">Build a solution specific to your needs and skip the rest. StoreCat's modular nature makes your system unique to you.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/product-detail-multi.svg">
                    <h3>Import your <br>Products</h3>
                    <p class="text-muted">Keep all your products and images in one place. Simple import tools make getting started a snap, so you can focus on selling.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/boxes-network-tape-multi.svg">
                    <h3>Integrate your Systems</h3>
                    <p class="text-muted">Easily connect your web store, ERP, suppliers' catalogs, and other tools to manage your entire market from a central command post.</p>
                </div>
            </div>
            <div class="pbx col-md-3 text-center">
                <div class="process-box">
                    <img src="/img/icons/gears-multi.svg">
                    <h3>Automate, <br>and Sell More</h3>
                    <p class="text-muted">With products and pricing that update automatically, your team can focus on keeping customers happy, and selling more.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    setInterval(moveHighlight, 3000)

    function moveHighlight() {
        var boxes = document.getElementsByClassName('pbx');

        for ( var i = 0; i < boxes.length; i++ ) {
            var box = boxes[i]
            // console.log('i is', i, 'box is', box)

            if ( box.className.includes('highlight') ) { 
                // console.log('highlight at ', i)
                box.className =  box.className.replace('highlight', '')

                if ( boxes[i + 1] ) {
                    // console.log('boxes i + 1', boxes[i + 1])
                    return boxes[i + 1].className += ' highlight'
                } else {
                    return boxes[0].className += ' highlight'
                }
            }
        }
    }
</script>
