<section class="testimonial" id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="headshot" src="/img/Dan-Micic.png">
            </div>
            <div class="col-lg-8">
                <!-- <hr class="light"> -->
                <p>“StoreCat helped us automatically import new pricing data for over 100,000 products, and instantly update Salesforce and our website.”</p>
                <h2 class="section-heading">Dan Micic, CEO</h2>
                <span>MedicalShipment.com</span>
            </div>
        </div>
    </div>
</section>
