<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<link rel="stylesheet" href="/css/integrations.css" type="text/css">
<style>
    .header h1 {
        text-align: center !important;
    }
</style>
<body id="page-top">
  {% include nav.html %}
  {% include integrationHeader.html %}
    <!-- <div class="container row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            <span>{{ page.previewText }}</span>
        </div>
    </div> -->

    <div class="container row">
        <div class="col-md-12">
            {{ content }}
        </div>
    </div>

    {% include call-to-action.html %}
    <br>
    {% include testimonial.html %}
    <br>
    {% include allIntegrations.html %}

    <!-- soc -->
    {% include contact.html %}
    <!-- soc -->
    {% include footer.html %}
</body>


{% include popUpTopDelay.html 
    text="As more people move to online shopping, learn how to take advantage of E-Commerce and stay competitive in 2020."
    ctaText= "Free E-Book"
    oneLine="oneline"
    link="/e-book/Taking-Advantage-of-ECommerce-Tools-in-Uncertain-Times.pdf"
%}


</html>